<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
      <div class="col-md-8">
        <div class="card" >
            <div class="card-header">
                <h4 class="card-title">Project Name{{ProjectId}}</h4>
              </div>

              <div class="card-body" >
                  <!--//looping through all the phases of this specific project-->
                  <div *ngFor="let item of phaseArry ; let i = index">
                  <span style="color:coral; font-size: 1.2em;">Phase {{i+1}}</span>
   <app-phases [phasename]="item"></app-phases>
   </div>
     <!--//looping through all the phases of this specific project ends here-->
       <!--option to add a new phase (opens a textarea with click event)-->
  <span (click)="show=true" class="spans_for_adding_data" > <i class="now-ui-icons ui-1_simple-add"></i>Add New Phase</span>
  <div *ngIf="show">
  <hr>
<input for="PhaseInputRef" type="textarea"  placeholder="enter here a new phase..." style="overflow: hidden; overflow-wrap: break-word; resize: none; height: 64px;" #PhaseInputRef>
<div>
<button class="btn btn-success" (click)="show=false" (click)="addPhase()">Save</button>
<span style="margin: 24px;">
</span>
<i class="now-ui-icons ui-1_simple-remove" (click)="show=false" style="cursor: pointer;"></i>
</div>
  </div>
  <!--option to add a new phase (opens a textarea with click event) closes here-->
    </div>
    </div>
  </div>
</div>
</div>




