<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">My Open Projects</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive" style="overflow: hidden;">
            <!--projects list starts here-->
           <app-project-table></app-project-table>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header">
          <h4 class="card-title">Registered Musician's Table</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive" style="overflow: hidden;">
            <!--muician's list starts here-->
          <app-musician-table></app-musician-table>
            <div class="calendar">
              <app-calander> </app-calander>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
